.form-container {

    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background-color: #fff; */
    background-image: url("https://cdn.pixabay.com/photo/2015/08/01/18/48/flowers-870557_1280.jpg");
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .feedback-message {
    position: fixed;
    bottom: 20px; /* Adjust as needed to position the message */
    right: 20px; /* Adjust as needed to position the message */
    background-color: #a17d85;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
  }
  
  /* Add animation for the message if desired */
  .feedback-message.show-message {
    animation: fade-out 5s;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  